/* Google Font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* General styles that apply to the whole page */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Jennifer 1 (Header styles start here) */
header {
  /* TODO: Jennifer, your header styles go here */
}

/* Jerry (Footer styles start here) */
footer {
  /* TODO:  */
}
/* Nita   ---------*/
.container1{
  background-color:#fff;
  min-height: 120px;
}
.container2{
  background-color:#fff;
  min-height: 120px;
}
.heading2{
  font-weight: bold;
  display: flex;
  justify-content: center;  
}
.heading1{
  
  font-weight: bold;
  display: flex;
  justify-content: center;  
}
h2{
  color:black;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4.6rem;
  text-transform: uppercase;
}
.head{
  color:black;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4.6rem;
  text-transform: uppercase;
  margin-top: 30px;
}
.image-container{
  display: flex;
  justify-content:space-between;
  align-items:center;
  
}

.image-box img{
  max-width: 99%;
  min-height:auto;
  margin-left: 20px;
  
}
.photo-container {
  max-width: 99%;
  min-height:auto;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  
    
}
.container3{
  max-width:300px;
  max-height:200px;
  border:2px solid #1d1919;
  padding:20px;
  align-items: center;
  display: flex;
  margin-left:45%;
  margin-top:60px ;
  justify-content: center;
  margin-bottom: 60px;
}
.p{
  font-size: 18px;
    color: #333;
  text-align: center;
  
}